<!-- Michael Chunko -->
<!-- Dominick DiMaggio -->
<!-- Marcus Simpkins -->
<!-- Elijah Wendel -->
<!-- CS 546A -->
<!-- I pledge my honor that I have abided by the Stevens Honor System. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" {{#if css}}href="{{css}}"{{else}}href="/public/home.css"{{/if}}>
  </head>

  <body {{#if onload}}onload="{{{onload}}}"{{/if}}>
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
