<div class="left-sidebar">
  <div class="favorite-pets">
    <h2>Favorite Pets</h2>

    <div class="centered">
      <ul id="favorite-pets-ul">
        {{#each favorites}}
        <li>
          <input class="pet-container" type="image" alt="{{emoji.name}}" src="{{emoji.img}}" />
        </li>
        {{/each}}
      </ul>
    </div>
    
    <div class="bottom">
      <a href="/home/pets" id="all-pets" class="left">See all pets</a>
      <a href="/shop" class="right" id="pet-shop">Shop</a>
    </div>

  </div>

  <div class="inventory">
    <h2>Inventory</h2>

    <div class="centered">
      <ul id="inventory-ul">
        {{#each inventory}}
        <li>
          <div class="emoji-container">
            <input type="image" alt="{{emoji.name}}" src="{{emoji.img}}" />
            <p>{{quantity}}</p>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    
    <div class="bottom">
      <a href="/shop" class="center" id="item-shop">Shop</a>
    </div>
    
  </div>
</div>

<div id="center-container" class="pets-roam"></div>

<div class="right-sidebar">
  <h2>Friends</h2>

  <ul id="friends-ul">
    {{#each friends}}
    <li>
      <div>
        <p>{{this.displayname}}</p>
        <form class="friend-form" method="GET" action="profile/{{this.username}}">
          <input type="submit" name="profile" value="View Profile" />
        </form>
      </div>
    </li>
    {{/each}}
  </ul>

  <div class="centered bottom">
    <a href="/friends">See all</a>
  </div>
  
</div>

<div class="bottom-bar">
  <a id="logout" href="/logout">Log out</a>
</div>

<script defer="defer" src="/public/home.js"></script>