<div id="profile">
  {{#if error}}
    <div>
      <p id="error">The user {{username}} does not exist</p>
    </div>

    <div class="center">
      <a href="/">Return to home page</a>
    </div>
  {{else}}
    <div id="profile-header">
      <img src="{{profile_pic}}" alt="{{display_name}}" id="profile-pic" />
      <h1>{{display_name}}</h1>
    </div>
    <p>Member since {{join_date}}</p>
    <p>Last online: {{last_online}}</p>

    <h2>Favorite Pets</h2>

    <div id="fav-pets">
      {{#each fav_pets}}
        <img alt="{{emoji.name}}" src="{{emoji.img}}" />
      {{/each}}
    </div>

  <div class="left">
    <a href="/profile/{{uname}}/all">See all pets</a>
  </div>

  <div class="right">
    <a href="/">Return to home page</a>
  </div>
  {{/if}}
</div>