<div class="tab-container">
  {{#if petShop}}
  <button id="food-tab" clicked="n">Food</button>
  <button id="pets-tab" clicked="y">Pets</button>
  {{else}}
  <button id="food-tab" clicked="y">Food</button>
  <button id="pets-tab" clicked="n">Pets</button>
  {{/if}}
</div>

<div class="shop-window">

  {{#if petShop}}
  <h2 id="shop-title" class="center">New Pets</h2>
  {{else}}
  <h2 id="shop-title" class="center">Food Items</h2>
  {{/if}}

  {{#if petShop}}
  <div id="shop-pets" class="shop-items">
  {{else}}
  <div id="shop-pets" class="shop-items hidden-div">
  {{/if}}
    {{#each shopPets}}
    <div class="emoji-container">
      <input type="image" id="{{_id}}" alt="{{emoji.name}}" src="{{emoji.img}}" />
      <p>{{price}} 💸</p>
    </div>
    {{/each}}
  </div>

  {{#if petShop}}
  <div id="shop-food" class="shop-items hidden-div">
  {{else}}
  <div id="shop-food" class="shop-items">
  {{/if}}
    {{#each shopFood}}
    <div class="emoji-container">
      <input type="image" id="{{_id}}" alt="{{emoji.name}}" src="{{emoji.img}}" />
      <p>{{price}} 💸</p>
    </div>
    {{/each}}
  </div>

</div>

<div class="money">
  <p id="credits">{{money}} 💸</p>
</div>

<div class="center">
  <a href="/">Return to home page</a>
</div>