<div id="replaceable-container">
  <p class="center big-text">Graveyard</p>
  <div class="all-pets">
    {{#each pets}}
      <div>
        <div class="left pets-view-container">
          <input type="image" data-id="{{_id}}" alt="{{emoji.name}}" src="{{emoji.img}}" class="left" />
          <img class="favorite-icon" data-id="{{_id}}" alt="star" src="/public/resources/star.svg" />
        </div>
        <div class="left">
          <p>{{name}}</p>
          <p>{{happiness}}</p>
          <p>{{status}}</p>
          <p>{{age}}</p>
          <p>Favorite food: {{food}}</p>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="bottom">
    <a href="/home" class="left" id="return">Go back to default</a>
    <a href="/home/pets" class="right all-pets-link">See all pets</a>
  </div>
</div>