<div id="replaceable-container" class="individual-pet">
  <h2 class="center">{{pet.name}}</h2>
  <br />

  <div class="pet-view-container">
    <input type="image" data-id="{{pet._id}}" alt="{{pet.emoji.name}}" src="{{pet.emoji.img}}" class="left" />
    <img class="favorite-icon" data-id="{{pet._id}}" alt="star" src="/public/resources/star.svg" />
  </div>
  <br />

  <div class="center">
    <p>{{pet.happiness}}: 
      <meter class="health {{happy_class}}" value="{{pet.happiness_percent}}" min="0" max="100">{{pet.happiness_percent}}%</meter>
    </p>
    <p>{{pet.status}}: 
      <meter class="health {{status_class}}" value="{{pet.status_percent}}" min="0" max="100">{{pet.status_percent}}%</meter>
    </p>
    <p>{{pet.age}}</p>
    <p>{{pet.interactions}} interactions</p>

    <div id="pet-favorite-food" class="emoji-container">
      <p>Favorite food</p>
      <img alt="{{pet.favoriteFood.emoji.name}}" src="{{pet.favoriteFood.emoji.img}}" />
    </div>
  </div>

  <div class="bottom">
    <a href="/home" class="center" id="return">Go back to default</a>
  </div>
</div>