<div id="replaceable-container">
  <h2 class="center">Pets</h2>
  <div class="all-pets">
    {{#each pets}}
      <div>
        <input type="image" data-id="{{_id}}" alt="{{emoji.name}}" src="{{emoji.img}}" class="left" />
        <div class="left">
          <p>{{name}}</p>
          <p>{{happiness}}</p>
          <p>{{status}}</p>
          <p>{{age}}</p>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="bottom">
    <a href="/home" class="center" id="return">Go back to default</a>
  </div>
</div>