<div id="center-container" class="all-pets">
  <h2 class="center">Pets</h2>
  {{#each pets}}
    <div>
    <img alt="{{emoji.name}}" src="{{emoji.img}}" class="left" />
    <div class="left">
      <p>{{name}}</p>
      <p>{{happiness}}</p>
      <p>{{status}}</p>
      <p>{{age}}</p>
    </div>
    </div>
  {{/each}}
  <a href="/home" class="right" id="return">Go back to default</a>
</div>