<ul id="toys-ul" class="toys-ul">
  {{#each toys}}
  <li>
    <div data-id={{_id}} class="emoji-container">
      <input type="image" data-id={{_id}} alt="{{emoji.name}}" src="{{emoji.img}}" />
      <p>{{quantity}}</p>
    </div>
  </li>
  {{/each}}
</ul>